[Unit]
Description=Simple OOM Daemon
Documentation=https://github.com/oditynet/oomkiller

[Service]
Restart=on-failure
ExecStart=/usr/bin/oomkiller 

[Install]
WantedBy=multi-user.target
